[submodule "3rdparty/bento"]
	path = 3rdparty/bento
	url = https://github.com/kavnwang/bento
	branch = main
[submodule "3rdparty/toast"]
	path = 3rdparty/toast
	url = https://github.com/tilde-research/toast.git
	branch = main
[submodule "3rdparty/lm-evaluation-harness"]
	path = 3rdparty/lm-evaluation-harness
	url = https://github.com/kavnwang/lm-evaluation-harness
	branch = main
[submodule "3rdparty/torchtitan"]
	path = 3rdparty/torchtitan
	url = https://github.com/kavnwang/torchtitan
	branch = main
